.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.doneTodo{
  text-decoration: line-through;
  font-size: 3rem;
  color: #fffffe75;
  margin: 10px;
  transition: 0.2s all;
}

.doneTodo:hover{
  scale: 1.1;
}

.notDoneTodo{
  font-size: 3rem;
  color: #fffffe;
  margin: 10px;
  transition: 0.2s all;
}

.notDoneTodo:hover{
  scale: 1.1;
}

header h1{
  color: #e85618;
  font-size: 5rem;
}

button{
  background-color: #e85618;
  border: none;
  color: #fffffe;
  font-size: 1rem;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  transition: 0.2s all;
}

button:hover{
  scale: 1.1;
}
input{
  background-color: #fffffe;
  border: none;
  width: 30%;
  height: 2rem;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  font-size: 1rem;
  margin-bottom: 60px;
}
